<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
</style>

<form method="post" action="/Student/Insert">
    <label for="fname">id</label>
    <input name="Id" />

    <label for="lname">name</label>
    <input name="name" />

    <label for="fname">address</label>
    <input name="address" />

    <label for="lname">city</label>
    <input name="city" />

    <label for="fname">conditon</label>
    <input name="Isactive" />

    <input type="submit" value="Add new student" />
</form>

